<%- include("header") -%>

<div class="col-md-6 mx-auto other-details">
    <div class="text">
        <h1>
            About us
        </h1>
        <p1>
            Sneha's Project
        </p1>

    </div>

    <div class="text ">
        <h1>
           Contact us
        </h1>
        <p1>
          For any queries contact us at (0)-456-789-45
        </p1>
    </div>
    <div class="text ">
        <h1>Note</h1>
        <p1>This is a Banking Website.Come and visit our Bank.</p>
    </div>

    <div class="text">

        <h1>OUR PROFILES</h1>
        <div >
            <a href="https://www.linkedin.com/in/sneha-das-695a1310b/"><i class="fab fa-linkedin"></i></a>
            <a href="https://www.facebook.com/sneha.das.2990"><i class="fab fa-facebook-square"></i></a>
            <a href="https://github.com/sneha906"><i class="fab fa-github-square"></i></a>
            <a href="https://www.instagram.com/__.p.i.k.a.c.h.u.u.__/"><i class="fab fa-instagram-square"></i></a>
        </div>
    </div>
</div>

<%- include("footer") -%>
